$fuente_principal : "Montserrat", sans-serif;
// Colores
$azul:#637879;
$rojo: #BB4F42;
$amarillo: #CA9541;
$verde: #4A653E;
$negro: #000000;
$blanco: #F0E5C7;

// Media querys
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;